:root{
    --background_page: grey;
    --btn_background: rgb(95, 93, 93);
    --btn_color: white;
    --font_color: white;
    --input_background: white;
    --placeholder_color: rgb(122, 118, 118);
}

*:focus{
    outline: none;
}

body{
    background:var(--background_page);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h1{
    display: flex;
    text-align: center;
    color: var(--font_color);
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10 0 20 0;        
}

input{
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: var(--input_background);
}

input::placeholder{
    text-align: center;
    color: var(--placeholder_color);
}


.tarefa{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--btn_color);
}

.tarefaConcluida{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--btn_color);
}

.tarefaConcluida > span{
    text-decoration: line-through;
}


.btn_add{
    width: 50px;
    height: 32px;
    background: var(--btn_background);
    color: var(--btn_color);
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;   
}

.btn_del{
    background: var(--btn_background);
    color: var(--btn_color);
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_del_all{
    background: var(--btn_background);
    color: var(--btn_color);
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.tarefa:hover{
    background: #b1aeae54;
    border-radius: 10px;
}

@media(max-width:500px){
    #root{
        width: 100vw;
        padding: 0px;
        margin: 0px;
        font-size: 1rem;
        
    }
    div{
        width: 300px;
        margin: 0;
        padding: 5 0 5 0; 

    }

    .listadetarefas{
        width: 90%;
        padding: 0;
    }

    h1{
        text-align: center;
        font-size: 1.5rem;
    }

    .form{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 10 0 20 0;        
        margin-right: 250px;
    }
    input{
        width: 75%;
                
    }
    img{
        display: flex;
        align-items: center;
        width: 60%;
    }

    .tarefa , .tarefaConcluida{
        display: flex;
        width: 100%;
    }

    .div_btn_del_all{
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 50 0 0 0;
    }
    .btn_del{
        width: 3rem;
        height: 2rem;
        font-size: .6rem;
    }
}